.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.detail {
  display: flex;
  justify-content: space-between;
}

.leftColumn {
  flex: 1;
}

.specialFont {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.infoDriver {
  margin-top: 20px;
}

.negrita {
  font-weight: bold;
  color: #555;
}

.rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* To center the content in the right column */
.rightColumn img {
  margin: auto;
  display: block;
}